name: New LedFx Build Pipeline

on:
  workflow_dispatch:
    inputs:
      fversion:
       description: 'Frontend Version'
       default: '87'
       required: false
      portaudio:
       description: 'Build Portaudio | Sorry you need to write true to enable'
       default: 'No'
       required: false
       type: choice
       options:
         - 'Yes'
         - 'No'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -x {0}
    strategy:
      matrix:
        os: [windows-latest]
        python-version: ['3.12.x']
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v4
        with:
          repository: LedFx/LedFx
          ref: main
          path: src

      - uses: actions/checkout@v3
        name: Check out tools from GitHub
        with:
          repository: YeonV/LedFx-Builds
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: main
          path: src2
      - name: Delete old frontend
        uses: JesseTG/rm@v1.0.3
        with:
          path: ./src/ledfx_frontend
      - name: get git version
        run: |        
          cd src
          git rev-parse HEAD >> ledfx/git_version
          cd ..
      - name: Get latest frontend
        run: |
          curl -L --max-redirs 10 -o ledfx_frontend_v2.zip "https://github.com/YeonV/LedFx-Frontend-v2/releases/latest/download/ledfx_frontend_v2.zip"
      - name: Include new frontend
        if: "!startsWith(matrix.OS, 'win')"  
        run: |
          cd ./ledfx_frontend_v2
          ls
          unzip -o -u ledfx_frontend_v2.zip
          cd ..
          cp -rf ./ledfx_frontend_v2/ledfx_frontend_v2 ./src/ledfx_frontend
          ls ./src/ledfx_frontend

      - name: Include new frontend win    
        if: "startsWith(matrix.OS, 'win')"
        run: |
          unzip ledfx_frontend_v2.zip
          cp -r ./ledfx_frontend_v2 ./src/ledfx_frontend
          ls ./src/ledfx_frontend

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Get full Python version
        id: full-python-version
        run: echo version=$(python -c "import sys; print('-'.join(str(v) for v in sys.version_info))") >> $GITHUB_OUTPUT

      - name: Install poetry
        run: |
          curl -sSL https://install.python-poetry.org | python - -y

      - name: Update Path for Windows
        run: echo "$APPDATA\Python\Scripts" >> $GITHUB_PATH

      - name: Enable long paths for git on Windows
        run: git config --system core.longpaths true

      - name: Configure poetry
        run: poetry config virtualenvs.in-project true

      - name: Get pip cache dir
        id: pip-cache
        run: |
          echo "dir=$(pip cache dir)" >> $GITHUB_OUTPUT
          echo "dir=$(pip cache dir)"
      - name: pip cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Bump version    
        if: "startsWith(matrix.OS, 'win') || startsWith(matrix.OS, 'ubu')"  
        run: |
          sed -i 's/\(PROJECT_VERSION = "[0-9]*\.[0-9]*\.\)[0-9]*"/\1${{ github.event.inputs.fversion }}"/' ./src/ledfx/consts.py
          sed -i 's/\(version = "[0-9]*\.[0-9]*\.\)[0-9]*"/\1${{ github.event.inputs.fversion }}"/' ./src/pyproject.toml
          
      - name: Bump version osx
        if: "!startsWith(matrix.OS, 'win') && !startsWith(matrix.OS, 'ubu')"  
        run: |
          brew install gnu-sed
          gsed -i 's/\bPROJECT_VERSION = "[0-9]*\.[0-9]*\.\)[0-9]*"/\1${{ github.event.inputs.fversion }}"/' ./src/ledfx/consts.py
          gsed -i 's/\b(version = "[0-9]*\.[0-9]*\.\)[0-9]*"/\1${{ github.event.inputs.fversion }}"/' ./src/pyproject.toml
          
      - name: Check lock file
        run: |
          cd src
          poetry check --lock

      - name: Build a binary wheel
        run: |        
          cd src
          poetry build

      - name: Install LedFx
        run: |
          cd src
          poetry install          
          poetry env info
          echo "poetry_venv_location=$(poetry env info --path)" >> $GITHUB_ENV
          poetry run ledfx-loopback-install
          poetry run pip install pyinstaller

      - name: Get Backend Version and poetry-venv-path
        id: getbackendver
        run: |
          cd src
          poetry run ledfx --version | cut -d' '
          echo "action_state=$(poetry run ledfx --version | cut -d' ' -f2| cut -d. -f1,2).${{ github.event.inputs.fversion }}" >> $GITHUB_ENV
          BINARY_NAME=LedFx_core-
          echo "BINARY_NAME=$BINARY_NAME" >> $GITHUB_ENV
          echo $action_state
          echo $BINARY_NAME

      - name: Portaudio dependency for windows
        if: startsWith(runner.os, 'Windows') && github.event.inputs.portaudio == 'true'
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: |
              git
              zip
              unzip
              base-devel
              mingw-w64-x86_64-gcc
              mingw-w64-x86_64-cmake
              mingw-w64-x86_64-ninja

      - name: Build portaudio
        if: startsWith(runner.os, 'Windows') && github.event.inputs.portaudio == 'true'
        shell: msys2 {0}
        run: |
          export CYGPATH=$(cygpath -m /)
          git clone https://github.com/portaudio/portaudio
          cmake -B portaudio/.build -S portaudio -DCMAKE_INSTALL_PREFIX=${MINGW_PREFIX} -DPA_BUILD_SHARED_LIBS=on -DCMAKE_BUILD_TYPE=Release -DPA_USE_ASIO=on
          cmake --build portaudio/.build/
          cmake --install portaudio/.build/
          rm -rf portaudio
          mv $CYGPATH/mingw64/bin/libportaudio.dll $poetry_venv_location/lib/site-packages/_sounddevice_data/portaudio-binaries/libportaudio64bit.dll

      - name: Build ${{ env.BINARY_NAME }} ${{ env.action_state }}
        if: startsWith(runner.os, 'Windows')
        run: |
          mv src2/tools/win/hook-samplerate.py $poetry_venv_location/lib/site-packages/_pyinstaller_hooks_contrib/hooks/stdhooks/hook-samplerate.py
          cd src
          poetry run pyinstaller win.spec
          mv dist/LedFx $BINARY_NAME-v$action_state
          7z.exe a -tzip $BINARY_NAME-v$action_state--win.zip $BINARY_NAME-v$action_state "-mx5" "-xr!.git" "-xr!.github"

      - name: Upload ${{ env.BINARY_NAME }} core ${{ env.action_state }}
        if: startsWith(runner.os, 'Windows')
        uses: actions/upload-artifact@v3
        with:
            name: ${{ env.BINARY_NAME }}-v${{ env.action_state }}--win.zip
            path: src/${{ env.BINARY_NAME }}-v${{ env.action_state }}--win.zip

      - name: Build ${{ env.BINARY_NAME }} portable ${{ env.action_state }}
        if: startsWith(runner.os, 'Windows')
        run: |
            cp src2/tools/win/yzwin.spec ./src/win-portable.spec
            cd src
            pyinstaller win-portable.spec
            ls dist/
            mv dist/LedFx.exe dist/$BINARY_NAME-v$action_state--win-portable.exe


      - name: Upload ${{ env.BINARY_NAME }} portable ${{ env.action_state }}
        if: startsWith(runner.os, 'Windows')
        uses: actions/upload-artifact@v3
        with:
            name: ${{ env.BINARY_NAME }}-v${{ env.action_state }}--win-portable.exe
            path: src\dist\${{ env.BINARY_NAME }}-v${{ env.action_state }}--win-portable.exe
