name: Test CI Build LedFx

on:
  push:
  pull_request:

jobs:
  build-ledfx-linux:
    name: Build LedFx (Ubuntu)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.10.x]
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v3
        with:
          repository: LedFx/LedFx
          ref: main
          #path: backend
      - name: Install build dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y \
          gcc libatlas3-base portaudio19-dev
      - name: Setup Python ${{ matrix.python }}
        id: python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Build a binary wheel
        run: |
          python -m pip install numpy --compile --pre
          python -m pip install --user -U pip wheel setuptools
          python setup.py bdist_wheel
      - name: Install LedFx
        run: |
          pip install --pre --find-links=dist .

  build-ledfx-windows:
    name: Build LedFx (Windows)
    runs-on: windows-latest
    strategy:
      matrix:
        python: [3.10.x]
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v3
        with:
          repository: LedFx/LedFx
          ref: main
          #path: backend
      - name: Setup Python ${{ matrix.python }}
        id: python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Build a binary wheel
        run: |
          python -m pip install numpy --compile --pre
          python -m pip install --user -U pip wheel setuptools
          python setup.py bdist_wheel
      - name: Install LedFx
        run: |
          pip install --pre --find-links=dist .

  build-ledfx-osx:
    name: Build LedFx (OS X)
    runs-on: macos-latest
    strategy:
      matrix:
        python: [3.10.x]
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v3
        with:
          repository: LedFx/LedFx
          ref: main
          #path: backend
      - name: Install build dependencies
        run: |
          brew install portaudio
      - name: Setup Python ${{ matrix.python }}
        id: python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Build a binary wheel
        run: |
          python -m pip install numpy --compile --pre
          python -m pip install --user -U pip wheel setuptools
          python setup.py bdist_wheel
      - name: Install LedFx
        run: |
          pip install --pre --find-links=dist .
          
  build-ledfx-osx-arm64:
    name: Build LedFx (OS X arm64)
    runs-on: osx-arm64
    strategy:
      matrix:
        python: [3.10.x]
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v3
        with:
          repository: LedFx/LedFx
          ref: main
          #path: backend
      - name: Install build dependencies
        run: |
          brew install portaudio
      #- name: Setup Python ${{ matrix.python }}
      #  id: python
      #  uses: actions/setup-python@v4
      #  with:
      #    python-version: ${{ matrix.python }}
      - name: Build a binary wheel
        run: |
          source ~/led/bin/activate
          python --version
          pip --version
          python -m pip install numpy --compile --pre
          python -m pip install -U pip wheel setuptools
          python setup.py bdist_wheel
      - name: Install LedFx
        run: |
          pip install --pre --find-links=dist .
