name: CI Build LedFx (Apple Silicon)

on:
  workflow_dispatch:

jobs:

  build-ledfx-osx:
    name: Build LedFx (OS X) (Apple Silicon)
    runs-on: osx-arm64
    defaults:
      run:
        shell: bash -x {0}
    strategy:
      matrix:
        python: [3.12.x]
    steps:
      - name: Install build dependencies
        run: |
          arch -arm64 brew install portaudio
          arch -arm64 brew install mbedtls@2
          arch -arm64 brew install libsamplerate
          arch -arm64 brew install poetry
      - name: Setup mbedtls path
        run: |
          echo "/opt/homebrew/opt/mbedtls@2/bin" >> $GITHUB_PATH
      - name: Check Python version
        run: |
          arch -arm64 poetry --version
      #    arch -arm64 python3 -V
      # - name: Build LedFx wheel
      #   run: |
      #     poetry build
      # - name: Install LedFx from wheel
      #   run: |
      #     export LDFLAGS="-L/opt/homebrew/opt/mbedtls@2/lib"
      #     export CPPFLAGS="-I/opt/homebrew/opt/mbedtls@2/include"
      #     poetry install
      # - name: Smoketest LedFx
      #   run: |
      #     source $(poetry env info -p)/bin/activate
      #     ledfx --ci-smoke-test
      #     if [ $? -ne 0 ]; then
      #       echo "LedFx launch failed: $?"
      #       exit 1
      #     fi
